.Url-list {
    position: absolute;
    overflow: scroll;
    background-color: black;
    color: #f9ff00;
    width: 30%;
    height: 100%;
}

.Url-list ul {
    list-style: none;
    padding: 0;
}

.Url-list ul li{
    padding-bottom: 3px;
    padding-right: 10px;
}

.type-url {
    color: #ffffff;
}

.type-url span {
    color: #f6f6f6;
}

.type-url-label {
    color: #f9ff00;
}

a {
    color: #f0ff00 !important;
}